h1 {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   color: white;
}

h2 {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 600;
   font-size: 40px;
   color: white;
}

.container {
   display: grid;
   grid-gap: 25px;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: 1fr;
   margin: 40px;
   margin-top: 50px;
   justify-content: center;
   /* background-color: gray; */
 }

body
{
  background: #128d9b;
  font-style: normal;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 18px;
}
h2 {
  font-size: 16px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.postcard {
  background-image: url("../png/land.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 30px;
  width: 75vw;
  height: 75vh;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-45%);
  padding-left: 0%;
  padding-right: 0%;
}

p {
  font-family: 'Satisfy', cursive;
  font-size: 30px;
}

.postcard-body{
  padding: 2%;

  grid-template: none;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 72vw 50vw;
  grid-template-rows: 94.5vh;

}

/* .postcard-header{
  background: gray;
  width: 75vw;
  height: 15vh;
  margin: auto;
  position: absolute;
  top: auto;
  left: auto;
  padding: 0.1%;

} */
input {
  font-size: 18px;
}
.body-left {
  background: #a5f6ff;
  float: left;
  width: 60%;
  height: 70%;
  padding: 1.1%;
}

img {
  float: right;
}

.body-right {
  float: right;
  background: #a5f6ff;
  width: 35%;
  height: 70%;
  padding: 1.1%;
}

.msg-box {
  width: 80vw;
}
