#slider {
  height: 0%;
  position: fixed;
  bottom:0px;
  width: 100%;
  background-color: white;
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
  color: black;
  font-family: Helvetica;
  font-weight: lighter;
  padding-bottom: 0%;
}


.x{
  text-align:center;
  padding-left:97%;
  padding-top:1%;
}

body { background-color: #7dcbd4; color: #fff; }
#chartdiv {
  width: 60vw;
  height:80vh;
}

#mapholder{
  text-align: center;
  display:flex;
  justify-content: center;
}






h1{
  font-family: 'Actor', sans-serif;
  font-weight: lighter;
  color: white;
  text-align: center;
  font-size: 55px;

}

h2{
  font-family: Helvetica;
  font-weight: lighter;
  color: black;
  text-align: center;
  font-size: 20px;
  padding-top: 1%;

}

h6{
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 15px;

}

h3{
  font-family: 'Actor', sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 40px;
}

.info{
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 40px;
}

form{
  margin: 20px;
  font-size: 20px;
  font-family: 'Actor', sans-serif;
  border-radius: 6px;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    color: black;
    font-family: Helvetica;
    font-weight: lighter;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
