<!DOCTYPE html>
<html>

<head>
  <title>{{name}} - GlobeNotes</title>
  <meta name="theme-color" content="#5CADA7" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="../png/favicon.ico">
  <link rel="stylesheet" media="screen and (min-device-width: 450px)" href="../css/countryPage/country.css" />
  <link rel="stylesheet" media="screen and (max-device-width: 449px)" href="../css/countryPage/countryMobile.css" />
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <img src="../png/logo.png" style="margin-left:30px;width:120px;">
    <a href="map">Home</a>
    <a href="currency">Currency</a>
    <a href="packing">Packing List</a>
    <a href="about">About</a>
    <a href="suggestions">Suggestions</a>
    <a href = "sources">Sources</a>
  </div>

  <span onclick="openNav()" style="cursor:pointer;"><img src = "../png/hamburger.png" height = 42 width = 42></span>

</head>

<body>
  <h1>{{name}}</h1>
  <div class="for-row-layout">
    <div class="mapsdiv">
        {% for value in photos %}
        <img class="new_photo" src={{value}}>
        {% endfor %}
    </div>
<div class="biggestdiv">
<div class="left">
  <h2>General Country Info</h2>
<div class="big-div-energy">

  <div class="info">
    <p class="bigtext">Language(s) spoken:</p>
    <ul>
    {% for value in lang %}
    <li>{{value}}</li>
    {% endfor %}
  </ul>
  </div>

  <div class="info">
    <p class="bigtext">Major Religion(s):</p>
    <ul>
    {% for value in relig %}
    <li>{{value}}</li>
    {% endfor %}
  </ul>
  </div>

  <div class="empty"></div>
  <div class="empty"></div>

  <div class="info">
    <p class="bigtext">Ethnic Groups:</p>
    <ul>
    {% for value in eth %}
    <li>{{value}}</li>
    {% endfor %}
  </ul>
  </div>

  <div class="info">
    <p class="bigtext">Customs:</p>
    <ul>
    {% for value in customs %}
    <li>{{value}}</li>
    {% endfor %}
  </ul>
  </div>
  <div class="empty"></div>
  <div class="empty"></div>

  <div class="info">
    <p class="bigtext">Cultural Taboos:</p>
    <ul>
    {% for value in taboos %}
    <li>{{value}}</li>
    {% endfor %}
  </ul>
  </div>

</div>
</div> <!-- end left-->

<div class="right">
<h2>Things To Keep In Mind While Traveling</h2>

<div class="big-div-energy2">
  <div class="info">
  <p class="bigtext">Currency:</p><p style="text-align: left;padding-left:30px;">{{curr_pow_time[0]}}</p>
  </div>

  <div class="info">
  <p class="bigtext">Power:</p><p style="text-align: left;padding-left:30px;">{{curr_pow_time[1]}}</p>
  </div>

  <div class="empty"></div>
  <div class="empty"></div>

  <div class="info">
  <p class="bigtext">Time Zone(s):</p>
<ul>
  {% for value in curr_pow_time[2] %}
  <li>{{value}}</li>
  {% endfor %}
</ul>
  </div>
<br>
  <div class="info">
  <p class="bigtext">Travel Regulations:</p>
  <div class="list">
  <ul>
  {% for value in regulations %}
<li>{{value}}</li>
  {% endfor %}
</ul>
  </div>
</div>

</div>
</div> <!-- end right-->

</div>
</div>
</body>
<script src="../js/country.js"></script>
</html>
